@import "../reindeer/reindeer.scss";

$gray: #d1d1cf;
$green: #40b527;
$darkgreen: darken($green, 30%);

// Prefix all selectors in your theme with .demo
.demo {

	// Include reindeer theme styles in your theme
	@include reindeer;

	.demoContentLayout {
		background-color: $gray;
		background-image: url(images/radial-gradient.png);
		background-size: 90%;
		background-position: center center;
		background-repeat: no-repeat;
	}
	
}
